.home {
    height: 100vh;
    width: 100vw;
    position: absolute;

    &:after {
        content: "";
        height: 800px;
        width: 800px;
        border-radius: 50%;
        position: absolute;
        bottom: -480px;
        right: 0px;
        z-index: -2;
        animation: homeAnim 26s infinite alternate;

        @media screen and (max-width: 650px) {
            height: 340px;
            width: 360px;
            bottom: -270px;
            position: fixed;
        }

        @keyframes homeAnim {
            50% {
                transform: scale(0.8);
            }
            100% {
                transform: scale(1.1);
            }
        }
        // @media screen and (max-width: 430px) {
        //     display: none;
        // }
    }

    .home-main {
        display: grid;
        align-items: center;
        justify-items: center;
        height: 100%;
        @media screen and (max-width: 650px) {
            margin-top: 8rem;
        }

        .main-content {
            user-select: none;
            max-width: 70%;
            .head {
                padding-left: 1rem;
                display: flex;
                align-items: center;
                @media screen and (max-width: 650px) {
                    flex-direction: column;
                    text-align: center;
                }
            }
            .description {
                margin-top: 2rem;
                p {
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                    letter-spacing: 1px;

                    @media screen and (max-width: 650px) {
                        text-align: center;
                    }
                }
            }
            .img-cv-contain {
                position: relative;
                height: auto;
                margin-right: 0.5rem;
                .img-cv {
                    border-radius: 50%;
                    height: 200px;
                    width: 200px;
                }
            }
            h1 {
                font-size: 3.7rem;
                position: relative;
                font-family: $font-2;

                @media screen and (max-width: 650px) {
                    font-size: 2rem;
                }
                @media screen and (min-width: 1200px) {
                    font-size: 5rem;
                }
            }

            h2 {
                font-size: 3.2rem;
                font-weight: 1;
                opacity: 0.9;

                @media screen and (max-width: 650px) {
                    font-size: 2rem;
                }
                @media screen and (min-width: 1200px) {
                    font-size: 5rem;
                }
            }
        }
    }
}
